{{ with .Site.Data.partnerSection }}
    {{ if .enable }}
        <section class="section partner">
            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-6 offset-lg-3">
                        <div class="partner__header">
                            <h1>{{ .topTitle }} </h1>

                        </div>
                    </div>
                </div>
                <div class="row align-center justify-content-around">
                    <div class="p-2 col-lg-3">
                        <div class="partner__logo">
                            <a href="https://www.dbs.com.hk/index/default.page" target="_blank"><img src="images/partner/dbs.svg" alt="dbs-img"></a>
                        </div>
                    </div>
                    <div class="p-2 col-lg-3">
                        <div class="partner__logo">
                            <a href="https://www.hkstp.org/" target="_blank"><img src="images/partner/hkstp.svg" alt="hkstp-img" class="hkstp"></a>
                        </div>
                    </div>
                    <div class="p-2 col-lg-3">
                        <div class="partner__logo">
                            <a href="https://www.preface.ai/preface-coffee" target="_blank"><img src="images/partner/preface.svg" alt="preface-img"></a>
                        </div>
                    </div>
                </div>
                <div class="row align-center justify-content-around">
                    <div class="p-2 col-lg-3">
                        <div class="partner__logo">
                            <a href="https://www.emperorgroup.com/en/front/" target="_blank"><img src="images/partner/emperor.svg" alt="emperor-group-img"></a>
                        </div>
                    </div>
                    <div class="p-2 col-lg-3">
                        <div class="partner__logo">
                            <a href="https://www.co2coins.com/" target="_blank"><img src="images/partner/carboncoin.svg" alt="carbon-coin-img"></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {{ end }}
{{ end }}