{{ with .Site.Data.partnerSection }}
    {{ if .enable }}
        <section class="section partner">
            <div class="partner_background_shape">
                <svg viewBox="0 0 1920 79">
                    <path d="M0 0h1920v79L0 0z" data-name="Path 1450" />
                </svg>
            </div>
            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-6 offset-lg-3">
                        <div class="partner_header">
                            <span>{{ .topTitle }} </span>
                            <h1>{{ .title }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>