{{ with .Site.Data.partnerSection }}
    {{ if .enable }}
        <section class="section partner">
            <div class="partner_background_shape">
                <svg viewBox="0 0 1920 79">
                    <path d="M0 0h1920v79L0 0z" data-name="Path 1450" />
                </svg>
            </div>
            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-6 offset-lg-3">
                        <div class="partner_header">
                            <span>{{ .topTitle }} </span>
                            <h1>{{ .title }}</h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="partner-logo">
                            {{ $section := .dbs }}
                            {{ range $section }}
                            <div class="dbs">
                                <a></a>
                                <img src="{{ .images | absURL}}" alt="dbs-img">
                                </a>
                            </div>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {{ end }}
{{ end }}