.about {
  overflow: hidden;
  background: #2fc29d;
  &_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    &-thumb {
      width: 45%;
      position: relative;
      @include desktop {
        width: 100%;
      }
      .about-svg {
        position: absolute;
        top: -11%;
        left: -17%;
        z-index: -1;
        height: 150px;
        animation: move_top 4s infinite;
        @include tablet {
          top: -7%;
          left: -16%;
        }
        img {
          max-width: 100%;
          height: auto;
        }
      }
      .about_content-thumb-image {
        text-align: center;
        img {
          height: auto;
          max-width: 60%;
        }
      }
    }
    &-inner {
      width: 55%;
      padding: 60px 50px;
      // background: $primary-color;
      border-radius: 20px;
      // margin-left: -60px;
      position: relative;
      @include desktop {
        padding: 25px;
      }
      @include desktop {
        width: 100%;
        margin-left: 0;
        margin-top: 30px;
      }
      &-blob {
        position: absolute;
        top: -55%;
        right: -22%;
        z-index: -1;
        width: 400.369px;
        height: 362.909px;
        svg {
          width: 140%;
        }
        @include tablet {
          display: none;
        }
      }
      h3 {
        margin: 0 0 35px 0;
        color: $white;
        font-family: $primary-font;
        font-size: 45px;
        @include tablet {
          text-align: center;
        }
      }
      p {
        margin: 0 0 35px 0;
        font-size: 18px;
        font-family: $secondary-font;
        color: $white;
        font-weight: 400;
        line-height: 30px;
        @include desktop {
          font-size: 14px;
          line-height: 26px;
        }
        @include tablet {
          text-align: center;
        }
      }
      ul {
        margin: 0;
        padding: 0;
        @include tablet {
          text-align: center;
        }
        li {
          list-style: none;
          display: inline-block;
          a {
            display: block;
            padding: 10px 25px;
            text-decoration: none;
            color: $black;
            border-radius: 50px;
            transition: all 0.3s ease;
            border: 1px solid #60636f;
            background: transparent;
            &.active {
              background-color: $white;
              border: 1px solid transparent;
            }
            &:hover {
              border: 1px solid $white;
              background: #2fc29d;
              color: $white;
              transform: scale(1.03);
            }
          }
          &:not(:last-child) {
            margin-right: 10px;
            @include mobile-s {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}
